<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Delete department</title>
</head>
<body>
<p>
    <a href="/admin/department-list">Back to department list</a> ||
    <a href="/logout">Logout</a>
</p>
<h1>Delete department</h1>
<div id="form">
    <form th:object="${department}" method="post" th:action="@{/admin/delete-department}">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Department name:</td>
                <td><input type="text" th:field="*{departmentName}"></td>
            </tr>
            <tr>
                <td>Department phone number:</td>
                <td><input type="text" th:field="*{departmentPhone}"></td>
            </tr>
            <tr>
                <td></td>
                <td th:text="${message}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="delete"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>