<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>List employee</title>
</head>
<body>
<p>
    <a href="/">Back to home page</a> ||
    <a href="/logout">Logout</a>
</p>
<h1>Employee list</h1>
<p>
    <a href="/admin/employee-create">Create new employee</a>
</p>
<h2>Sort by</h2>
<form th:action="@{/admin/employee-list-sort}">
    <select name="sortBy">
        <option value="default">Default</option>
        <option value="name">Name</option>
        <option value="dateOfBirth">Date Of Birth</option>
        <option value="address">Address</option>
        <option value="salary">Salary</option>
    </select>
    <select name="direction">
        <option value="ASC">Ascending</option>
        <option value="DESC">Decrease</option>
    </select>
    <input type="submit" value="Sort">
</form>
<p>
<div class="dropdown">
    <button class="dropbtn">Employee filter</button>
    <div class="dropdown-content">
        <div class="dropdown-2">
            <a>Academic Level</a>
            <div class="dropdown-content-2">
                <th:block th:each="academicLevel:${academicLevels}">
                    <a th:href="@{/admin/employee-findAllByAcademicLevel/__${academicLevel.id}__}" th:text="${academicLevel.nameLevel}"></a>
                </th:block>
            </div>
        </div>
        <div class="dropdown-2">
            <a>Department</a>
            <div class="dropdown-content-2">
                <th:block th:each="department:${departmentsList}">
                    <a th:href="@{/admin/employee-findAllByDepartment/__${department.id}__}" th:text="${department.departmentName}"></a>
                </th:block>
            </div>
        </div>
        <div class="dropdown-2">
            <a>Labor Contract</a>
            <div class="dropdown-content-2">
                <th:block th:each="l:${laborContracts}">
                    <a th:href="@{/admin/employee-findAllByLaborContract/__${l.id}__}" th:text="${l.name}"></a>
                </th:block>
            </div>
        </div>
        <div class="dropdown-2">
            <a>Position</a>
            <div class="dropdown-content-2">
                <th:block th:each="p:${positions}">
                    <a th:href="@{/admin/employee-findAllByPosition/__${p.id}__}" th:text="${p.name}"></a>
                </th:block>
            </div>
        </div>
    </div>
</div>
<p>
<form th:action="@{/admin/employee-search}" method="post">
    <input type="text" name="search" placeholder="  name employee">
    <input type="submit" value="Search">
</form>
</p>

<table id="employees">
    <tr>
        <th>Mã NV</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Date Of Birth</th>
        <th>Number phone</th>
        <th>Salary</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="employee : ${employees}">
        <tr>
            <td><a th:href="@{/admin/employee-view/__${employee.id}__}" th:text="${employee.id}"></a></td>
            <td><a th:href="@{/admin/employee-view/__${employee.id}__}" th:text="${employee.name}"></a></td>
            <td>
                <a th:if="${employee.gender}" th:text="Male"></a>
                <a th:if="${!employee.gender}" th:text="Female"></a>
            </td>
            <td th:text="${employee.address}"></td>
            <td th:text="${employee.dateOfBirth}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td style="text-align: right" th:text="${#numbers.formatDecimal(employee.salary, 0, 'COMMA', 2, 'POINT')}"></td>
            <td><a th:href="@{/admin/employee-edit/__${employee.id}__}">Edit</a></td>
            <td><a th:href="@{/admin/employee-delete/__${employee.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/admin/employee-list'(page=${employees.number - 1})}" th:if="${employees.hasPrevious()}">Previous</a>
    <span th:text="${employees.number + 1}"></span>/<span th:text="${employees.totalPages}"></span>
    <a th:href="@{'/admin/employee-list'(page=${employees.number + 1})}" th:if="${employees.hasNext()}">Next</a>
</div>
</body>
</html>