<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Delete academicLevel</title>
</head>
<body>
<h1>Delete academicLevel</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/admin/levels">AcademicLevel list</a> ||
    <a href="/logout">Logout</a>
</p>
<div id="form">
    <form th:action="@{/admin/academicLevel/delete}" th:object="${level}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Name Level:</td>
                <td th:text="*{nameLevel}"></td>
            </tr>
            <tr>
                <td>Specialized:</td>
                <td th:text="*{specialized}"></td>
            </tr>
            <tr>
                <td></td>
                <td th:text="${message}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Yes"></td>
                <td><input type="button" value="No" onclick="window.location.href='/admin/levels'"></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>