<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>AcademicLevel List</title>
</head>
<body>
<div id="menu">
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/admin/employee-list">Employee list</a></li>
        <li><a href="/admin/levels">Academic list</a></li>
        <li><a href="/admin/department-list">Department list</a></li>
        <li><a href="/admin/laborContract">Labor contract list</a></li>
        <li><a href="/admin/positions">Position list</a></li>
        <li><a style="color: red">Welcome Admin</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</div>
<h1>AcademicLevel List</h1>
<p>
    <a href="/admin/academicLevel/create">Create new category</a>
</p>


<table id="employees">
    <tr>
        <th>NameLevel</th>
        <th>Specialized</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="level : ${levels}">
        <tr>
            <td><a th:href="@{/admin/academicLevel/view/__${level.id}__}" th:text="${level.nameLevel}"></a></td>
            <td th:text="${level.specialized}"></td>
            <td><a th:href="@{/admin/academicLevel/edit/__${level.id}__ }">Edit</a></td>
            <td><a th:href="@{/admin/academicLevel/delete/__${level.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>