<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Delete LaborContract</title>
</head>
<body>
<h1>Delete LaborContract</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/admin/laborContract">LaborContract list</a> ||
    <a href="/logout">Logout</a>
</p>
<div id="form">
    <form th:action="@{/admin/delete-labor}" th:object="${laborContract}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Name:</td>
                <td th:text="${laborContract.name}"></td>
            </tr>
            <tr>
                <td></td>
                <td th:text="${message}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete laborContract"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>