<!DOCTYPE html>
<html lang="en" xmlns:th="http://maven.apache.org/FML/1.0.1">
<head th:replace="layout :: head">
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Homepage</title>
</head>
<body>
<div id="menu">
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/admin/employee-list">Employee list</a></li>
        <li><a href="/admin/levels">Academic list</a></li>
        <li><a href="/admin/department-list">Department list</a></li>
        <li><a href="/admin/laborContract">Labor contract list</a></li>
        <li><a href="/admin/positions">Position list</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
<section>
        <th><h1>Employee management</h1></th>
</section>
<footer th:replace="layout :: footer"></footer>
</body>
</html>