<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Create position</title>
</head>
<body>
<h1>Create position</h1>
<p>
    <a href="/admin/positions">Position list</a> ||
    <a href="/logout">Logout</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form th:action="@{/admin/create-position}" th:object="${position}" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create position"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>