<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Positions</title>
</head>
<body>
<p>
    <a href="/">Back to home</a> ||
    <a href="/logout">Logout</a>
</p>

<p>
    <a href="/admin/create-position">Create new position</a>
</p>
<h1>Positions</h1>
<form>
    Search by name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table id="employees">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="position : ${positions}">
        <tr>
            <td th:text="${position.name}"></td>
            <td><a th:href="@{/admin/edit-position/__${position.id}__ }">Edit</a></td>
            <td><a th:href="@{/admin/delete-position/__${position.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/admin/positions'(page=${positions.number - 1})}" th:if="${positions.hasPrevious()}">Previous</a>
    <span th:text="${positions.number + 1}"></span>/<span th:text="${positions.totalPages}"></span>
    <a th:href="@{'/admin/positions'(page=${positions.number + 1})}" th:if="${positions.hasNext()}">Next</a>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>